<a href="https://colab.research.google.com/github/ifaul/ifaul.github.io/blob/Milestone-1-Update-10%2F3/Bug_Brains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content
!git clone https://github.com/ifaul/ifaul.github.io
import pandas as pd

Cloning into 'ifaul.github.io'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (20/20), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 20 (delta 2), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (20/20), 136.28 KiB | 783.00 KiB/s, done.
Resolving deltas: 100% (2/2), done.

In [14]:
bugs_df = pd.read_excel('ifaul.github.io/bugs.xlsx',skiprows=1) # Headers are on the second row!

# 180 observations of individual wasps and their traits
# Objective of paper was to relate brain "investment" to social factors (ColSize, found, NollCaste)
# prediction was that more social -> less brain investment

#found = how the colony is founded ('mode of founding')
# swarm: queen + workers decides;
# indep: queen decides where swarm goes
# solit: one wasp decides

#NollCaste = classify difference between queen vs worker
# Morph: queens are distinct in shape
# none: no large difference between queen and workers "continuous variation"
# size: queen is larger but same shape
# phys: only queen has ovaries

#caste = worker/queen/solitary

#ColSize = size of colony (estimated quantitative number of wasps)

#SppN, CasteN, id = keys?

#Lip, AL, Coll, OL, Rest = parameters related to brain size (volumes in mm^3)

#totbrain = total brain size

In [19]:
#bugs_df.head(50)
bugs_df['caste'].value_counts()

caste
worker      110
queen        59
solitary     11
Name: count, dtype: int64